/* Styles for the entire details page */

.container-detail {
  max-width: 60vw;
  min-height: 80vh;
  margin: 0 auto;
}

/* Product details box */

.product-details {
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);  
  margin-bottom: 30px;
}

.product-details h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;  
}

/* Form groups */

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #777;
  margin-bottom: 5px;  
}

/* Loading message */

.loading-message {
  font-style: italic;
  color: #aaa;
  text-align: center;
  margin: 40px 0;
}

/* Table */

.table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;  
}

.table th,
.table td {
  padding: 15px; /* Tăng kích thước padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #555;  
}

.table th {
  background-color: #000; /* Màu đen cho header */
  color: #fff; /* Màu trắng cho chữ */
  font-weight: 600;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Màu nền xám nhạt */
}

.table tbody tr:hover {
  background-color: #e5e5e5; /* Màu nền xám nhạt khi hover */
}

/* Buttons */

.btn {
  padding: 10px 20px; /* Thay đổi kích thước button */
  border-radius: 3px;
  border: none;
  background-color: #007bff;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3; /* Màu khi hover */
}

.btn-danger {
  background-color: #dc3545;  
}

.btn-danger:hover {
  background-color: #c82333; 
}

/* Additional styles for the product info table */

.product-info-container {
  background-color: #fff; /* Màu nền trắng */
  border: 2px solid #000; /* Đường viền đen */
  border-radius: 10px;
  margin-top: 20px; /* Khoảng cách từ bảng sản phẩm */
  padding: 20px;
}

.product-info-table {
  width: 100%;
  border-collapse: collapse;
}

.product-info-table th,
.product-info-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.product-info-table th {
  background-color: #000; /* Màu đen cho header */
  color: #fff; /* Màu trắng cho chữ */
  font-weight: 600;
}