/* CSS */
.product-info-table {
    width: 100%; /* Bảng tự động mở rộng chiều rộng theo kích thước của div chứa */
    border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
    
  }
  
  .product-info-table th,
  .product-info-table td {
    padding: 10px; /* Khoảng cách giữa nội dung và đường viền */
    border: 1px solid #ddd; /* Đường viền xung quanh ô */
  }
  
  .product-info-table th {
    background-color: #f2f2f2; /* Màu nền của ô tiêu đề */
    font-weight: bold; /* Độ đậm của chữ trong ô tiêu đề */
  }
  
  .product-info-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Màu nền xen kẽ cho các hàng */
  }
  
  .product-info-table tbody tr:hover {
    background-color: #f5f5f5; /* Màu nền khi di chuột qua hàng */
  }
  
  .modal-title {
    text-align: center; /* Căn giữa tiêu đề */
    margin-left: 39%;
  }