/* Style the header */
.header {
  padding: 10px 16px;
  background-color: darkgoldenrod;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the navigation bar */
.navbar {
  /* padding: 5px 0; */
  margin-bottom: 1rem;
}

.navbar-header{
  background: rgb(92, 91, 91);
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff;
}

/* Style the login button */
.login-button-header {
  float: right;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 255, 0);
  border: rgba(255, 255, 255, 0);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 50px;
}

.login-button-header-menu{
  float: left;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 255, 0);
  border: rgba(255, 255, 255, 0);
  border-radius: 5px;
  cursor: pointer;
}

.login-button-header-menu:hover{
  border: 0.5px solid white;
}

.login-button-header:hover {
  border: 0.5px solid white;
}

/* Style the icon */
.icon-header {
  font-size: xx-large;
  color: rgb(255, 255, 255);
}


/* Clear the float effect */
.container {
  overflow: hidden;
}

/* Add some top padding to the page content to prevent sudden quick movement */
.content {
  padding-top: 102px;
}