/* Style the header */
.header {
  padding: 10px 16px;
  background-color: darkgoldenrod;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the navigation bar */
.navbar {
  padding: 1rem 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #ffffff;
}

/* Style the login button */
.login-button {
  float: right;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 255, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

/* Style the icon */
.icon {
  font-size: 20px;
  color: white;
}

/* Clear the float effect */
.container {
  overflow: hidden;
}

/* Add some top padding to the page content to prevent sudden quick movement */
.content {
  padding-top: 102px;
}